#dynamic{ margin: 0.625em; }

#modules{ margin-left: -2em; }
img{ border: none; }

/*Izvēlnes formatējums*/
#langs{ text-align: center; margin: 2em 0; }
#langs a img{ opacity: 0.33; filter:alpha(opacity=33); }
#langs a:hover img{ opacity: 1; filter:alpha(opacity=100); }

#menu ul, #modules ul{ list-style-type:none; margin: 0 0 0 0.625em; padding:0; position: relative; }

#menu ul li{ min-height: 24px; }
#menu ul li, #modules ul li{ position: relative; border-bottom: #ccc dotted 1px; padding: 0.5em 0.5em 0.25em 0; }
#menu ul li, #modules ul ul li{ display: block; }
#menu ul ul{ padding: 0.5em 0 0 0; }
#menu ul ul li{ border: none; margin-left: 1em; padding: 0; }
#menu ul ul, #modules ul ul{ display: none; }
#menu ul a.expand{ float: left; margin-right: 3px; -khtml-opacity:.50; -moz-opacity:.50; -ms-filter:"alpha(opacity=50)"; filter:alpha(opacity=50); filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5); opacity:.50; }
#menu ul a.expand:hover{ -khtml-opacity:1; -moz-opacity:1; -ms-filter:"alpha(opacity=100)"; filter:alpha(opacity=100); filter: progid:DXImageTransform.Microsoft.Alpha(opacity=1); opacity:1; }
#menu ul a, #modules ul a{ height: 100%; margin: auto 0; }

#modules ul li{ display: inline-block; margin: 0.3125em 0 0 1.5em; padding: 0.5em 0.5em 0.25em 2em; }
/*#modules ul li:hover, #modules ul li.expanded{  background: left 0.25em no-repeat url('/inc/img/Tool.png'); }*/
#modules ul ul{ position: absolute; top: 2.2em; left: 0.625em; background: #fff; border-left: #ccc dotted 1px; border-right: #ccc dotted 1px; border-bottom: #ccc dotted 1px; }
#modules ul ul li, #modules ul ul li:hover{ background: none; }
#modules ul ul li:hover{ background: 0.25em center no-repeat url('/inc/img/icons/24x24/Player Play.png'); }

.header2{ font-size: 1.5em; font-style: oblique; margin-bottom: .5em; }

.new-data{ display: none; }
.user-info{ float: right; border: dotted 1px black; }
.db_field{ clear: both; width: 100%; }
.db_field_title{ float: left; width: 120px; font-weight: bold; }
.db_field_value{ vertical-align: middle; }
.add_data{ clear: both; width: 100%; }
input.text, input.password, input.add-text{ width: 300px; }
input.vaid{ width: 100px; }
textarea.lesson-times-1{ height: 170pt; width: 85pt; float: left; line-height: 13pt; font-size: 11pt; font-family: serif; resize: none; }
textarea.lessons-1{ height: 170pt; width: 400px; line-height: 13pt; font-size: 11pt; font-family: serif; resize: none; }
textarea.lesson-times-2{ height: 104pt; width: 85pt; float: left; line-height: 13pt; font-size: 11pt; font-family: serif; resize: none; }
textarea.lessons-2{ height: 104pt; width: 400px; line-height: 13pt; font-size: 11pt; font-family: serif; resize: none; }
iframe.form-calendar{ margin-left: 120px; width: 159px; height: 169px; display:inline; }
div.form-classes{ float: left; margin-right: 10px; }
div.img-data { margin: 5px 0; clear: both; border-bottom: 1px solid #111; }
textarea.img-data-ta { width: 400px; height: 110px; }
.move{ background: left top no-repeat url('/inc/img/icons/24x24/Direction Vert.png'); cursor: move; padding: 3px 0 0 32px; height: 36px; }
.data-mover{ display: inline-block; float: left; background: left top no-repeat url('/inc/img/icons/24x24/Direction Vert.png'); cursor: move; width: 36px; min-height: 24px; }
.data-field{ border: dotted #ccc 1px; background: #ececec; padding: .5em; margin: .25em 0; -moz-border-radius: 5px; border-radius: 5px; clear: both }
#data-fields{ clear: both; }
.ckeditor{ width: 100%; height: 250px; }
.logout, .logout:hover, .delete, .delete:hover, .remove-this{ color: red; }
.delete{ display: inline-block; font-size: 1.25em; background: left top no-repeat url('/inc/img/icons/32x32/Forbidden.png'); padding: 6px 0 6px 40px; margin: .25em;  }
#page-title{ display: none; }
.start, .end, .add{ display: inline-block; margin: 0 .5em; font-size: 1.25em; }
a.data-list{ display: block; font-size: 1.25em; padding: 4px 0 4px 30px; background: left top no-repeat url('/inc/img/icons/24x24/Dots.png'); }
a.data-list:hover{  }
a.move-expand{ float: left; clear: both; margin-right: .33em; }
a.move-expand img{ opacity: 0.5; filter:alpha(opacity=50); }
a.move-expand:hover img{ opacity: 1; filter:alpha(opacity=100); }
a.move-data{ display: block; line-height: 32px; }
.move-data-ul{ list-style-type:none; }
.move-data-ul ul{ margin-left: 1.5em; display: none; }
input.save{ font-size: 1.33em; }

.cm-field .input { font-size: 1em; line-height: 2em; height: 3em; width: 100%; }
.cm-field textarea { font-size: 1em; line-height: 2em; height: 10em; width: 100%; }
.cm-title { font-size: 2em; line-height: 3em; }
.cm-head { font-size: .75em; font-style: italic; }
.cm-text { margin: 0 0 2em 0; font-size: 1.25em; padding: .75em; -moz-border-radius: 3px; border-radius: 3px; background: #f5f5f5; }
.visible-0 { opacity: 0.33; filter:alpha(opacity=33); }

/* Uploaderis */
.up-image{ background: right top no-repeat url('/inc/img/icons/48x48/Picture.png') #ececec; padding-right: 50px; }
.up-file{ background: right top no-repeat url('/inc/img/icons/48x48/Folder2.png') #ececec; padding-right: 50px; }
.up-text{ background: right top no-repeat url('/inc/img/icons/48x48/Document2.png') #ececec; padding-right: 50px; }
.file-added{ display: block; margin-right: 120px; border-bottom: dotted 1px #999; color: red; }
.file-uploaded{ display: block; margin-right: 120px; border-bottom: dotted 1px #999; color: green; }

