body{ margin: 0; padding: 0; background: none;}
a{ text-decoration: none; color: #FFF; }

td{width: 19px; height: 16px; background: none; font-family:Tahoma; color: #FFF; font-size:8.5pt; font-weight:normal; padding: 0; text-align:center; border: none; }
.ct{ width: auto; background: none; border: none; text-align: center; font-weight: bold; }

.dayPrev, .dayNext{ color: #666666; }
.dayName{ border: none; color: #cccccc;}

.cal_title{ font-family:Tahoma; color: #333333; font-size:8.5pt; font-weight:bold; width: 165px; text-align: center; }
.title{ display: inline; }

.pm{ display: inline; float: left; }
.nm{ display: inline; float: right; }

.event{ display: block; height: 16px; width: 19px; padding-top: 1px; color: #FFF; }
html > body .event {height: 15px; padding-top: 1px; }

.today{ color: #FFF; font-weight: bold; }
.sel{ color: #bbb; }
