/* CSS Document */
body{ margin: 0; padding: 0; }
td, th{ font-family: Tahoma, serif; }
.calendar {
	margin: 0;
	padding: 0;
	font-family: Tahoma, serif;
	font-size: 10pt;
	}
.calendar caption {
	margin: 0;
	padding: .3em 0;
	background: #ffa51e;
	}
.calendar th {
	border-bottom: 1px solid #ccc;
	font-weight: normal;
	background: #fff;
	}
.calendar td {
	border: 1px solid #fff;
	padding: 0px 2px;
	width: 10pt;
	text-align: center;
	}
.calendar a {
	color: #000;
	text-decoration: none;
	}
.calendar td.pad a {
	color: #999;
	text-decoration: none;
	}

.calendar td.today {
	background: #ffc;
	}
.calendar td.selected {
	border: 1px dotted #ff7800;
	}
.calendar td.highlighted {
	background: #fc9;
	}
	
.calendar td:hover, .calendar td.today:hover, 
.calendar td.selected:hover, .calendar td.highlighted:hover {
	/*background: #cff;*/
	border: 1px solid #09f;
	}

table.calendar td.pad {
	color: #999;
	background: #fff;
	}
/*table.calendar td.pad:hover {
	background: none;
	border: 0;
	}*/
	
.sunday, .saturday {
	background: #f0f0f0;
	}
	
#year {
	padding: 0;
	width: 500px;
	list-style: none;
	}
#year:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	}
#year li {
	float: left;
	padding: 0 .5em .5em 0;
	height: 150px;
	}
