body{ font-family: Arial, sans-serif !important;}
.no-display, .hidden{ display: none; }
.caption, .highslide-caption{ font-size: 1em; text-align: center; font-style: oblique; color: #252; }
.highslide{ display: inline-block; margin: .25em; }
.data-file{ display: inline-block; width: 10em; margin: .25em; text-align: center; overflow: hidden; }
#menu{ padding: 2em 0 1em 0; }
#menu ul ul{ padding: 0 0 0 1em; }
#menu ul li a{ -moz-border-radius: 3px; border-radius: 3px; }
.menu-trig, #menu ul li a{ padding: .25em 0; border: dotted 1px #ccc; -moz-border-radius: 3px; border-radius: 3px; }
.menu-trig:hover{ text-decoration: none; background-color: #eeeeee; }
#logotips{ text-align: center; padding: 1em 0 0 0; }
#menu ul ul{ display: none; }
#menu li.expanded ul { display: block; }
#langs{ text-align: center; margin: 2em 0; }
#langs a img{ opacity: 0.33; filter:alpha(opacity=33); }
#langs a:hover img{ opacity: 1; filter:alpha(opacity=100); }
#top-image{ padding: 0.25em 0; text-align: center; }
#top-image img{ -moz-border-radius: 3px; border-radius: 3px; opacity:0.4; filter:alpha(opacity=40); }
#info{ margin-top: 5em; text-align: center; font-family: Georgia, Times, serif; font-style: italic; font-size: 1.25em; }
#info img{ margin: 1em 0; }
#menu [class^="icon-"], #menu [class*=" icon-"] { opacity: 0.5; filter:alpha(opacity=50); }
#social{ margin: 0 0 0 0; }
#social div {display: inline-block; font-size: 1px; height: 20px; padding: 0 0.5em 0 0.5em; }
.social-networks{ list-style-type: none; margin-left: 0; }
.social-networks li { display: inline-block; margin-left: 0; font-size: 1px; }
.fb_reset { display: inline; }
#fb-like, #fb-like iframe, #tweet-button iframe{ display: inline; width: 85px !important; height: 20px; }
#fb-like iframe { margin-top: -3px; }
#dynamic{ padding: 1em .5em; }
.data-txt-img{ float: right; margin: .75em 0 .75em .5em; }
.phone-img{ display: block; text-align: center; margin: .75em 0; font-style: oblique; color: #252; }
.data-block{ margin: .75em 0; }
.data-delimiter{ width: 100%; clear: both; font-size: 0; height: 1px; }
.lasit-vairak{ color: #333; display: block; }
.lasit-vairak:hover{ color: #351; text-decoration: none; }
.data-date{ font-style: oblique; }
.footer{ text-align: right; }
.cm-field .input { font-size: 1em; line-height: 2em; height: 3em; width: 100%; }
.cm-field textarea { font-size: 1em; line-height: 2em; height: 10em; width: 100%; }
.cm-title { font-size: 2em; line-height: 3em; }
.cm-head { font-size: .75em; font-style: italic; }
.cm-text { margin: 0 0 2em 0; font-size: 1.25em; padding: .75em; -moz-border-radius: 3px; border-radius: 3px; background: #f5f5f5; }
.spacer { height: 400px; }
#search { text-align: right; margin: .5em 0; } 
#search .phrase { font-size: 1em; line-height: 1.5em; height: 1.5em; margin: 0; text-align: inherit; }
#search .btn{ font-size: 1em; line-height: 2em; height: 2.5em; margin: 0}
.found{ display: block; }
