/* CSS Document */
body{ margin: 0; padding: 0; }
td, th{ font-family: Tahoma, serif; }
.calendar {	margin: 0; display: block; padding: 0; font-family: Tahoma, serif; font-size: 10pt;	}
.calendar caption {	margin: 0; padding: .1em 0; color: #fff; }
.calendar caption a{ color: #fff; }
.calendar td, .calendar th{ font-family: Tahoma, serif; text-align: center; color: #fff; border: none; }
.calendar th { font-weight: normal; }
.calendar td { padding: 0px 3px; width: 13pt; }
.calendar a { color: #fff; text-decoration: none; }
.calendar td.pad a { color: #eee; text-decoration: none; }
.calendar td.highlighted { border: dotted 1px #fff; }
.calendar td.highlighted:hover{ border: dotted 1px #fff; }
.calendar td.pad { color: #eee;	background: none; }

