.cke_button_image .cke_icon {
	background-image: url('uploader_icon.png') !important;
	background-position: 0 0 !important;
}

#documents_ajax_tree a{
	outline:none;
}

#cke_url_box{
/*	visibility: hidden;*/
}

#cke_url_box span{
	visibility: hidden;
}

#cke_url_upload{
	margin-top:5px;
	display:block;
	padding:0px;
	border:0;
	width:600px;
	overflow: hidden;
}

#close_upload_file, #cke_new_form_button{
	display:block;
	width:200px;
	margin-bottom:10px;
	margin-left:199px;
	margin-right:199px;
	cursor: pointer;
	outline:none;
	margin-top:10px;
}

#close_upload_file span, #cke_new_form_button span{
	display:block;
	width:160px;
	padding-left:20px;
	padding-right:20px;
	text-align: center;
	cursor: pointer;
	outline:none;
}

#cke_add_directory, #files_attach_another, #files_attach{
	padding:0px;
	margin:0px;
	border:0px;
	height:19px;
	padding-top:2px;
	padding-bottom:2px;
	cursor: pointer;
}

#files_attach span.cke_dialog_ui_button, #files_attach_another span.cke_dialog_ui_button, #cke_add_directory span.cke_dialog_ui_button{
	margin:0;
	padding:0px;
	height:13px;
	margin-top:0px;
	padding-top:2px;
	padding-bottom:2px;
}

#cke_add_directory{
	width:100%;
	float:left;
	cursor: pointer;
}

.cke_dialog_ui_button, #documents_ajax a.del, #documents_ajax a.image_cke,#cke_search_button,  #documents_ajax img{
	cursor: pointer;
}
#cke_dir_name{
	width:200px;
	font-size: 14px;
	overflow: hidden;
	padding-top:13px;
	font-weight:bold;
	border:0;
	margin:0;
}
	
#cke_search_form{
	float:right;
	width:171px;
	height:27px;
	margin:0;
	padding:0;
	border:0;

	background: url(input.png) 0 0 no-repeat;
	margin-top:6px;
	margin-right:3px;
}

#cke_reset_button{
	width:11px;
	height:11px;
	background: url(clear.png) 0 -2px no-repeat;
	border:0;
	padding:0;
	margin:0;
	margin-top:8px;
	margin-bottom:8px;
	margin-right:15px;
	outline: none;
	vertical-align: top;
	text-indent: -15000px;
	cursor: pointer;
	float:left;
}

#cke_search_input{
	float:left;
	width:120px;
	margin:0;
	height:15px;
	padding:0;
	border:0;
	margin-top:6px;
	margin-bottom:6px;
	margin-right:4px;
	margin-left:5px;
	vertical-align: top;
	
}

#cke_search_button{
	background: url(search_icon.png) 0 0 no-repeat;
	width:16px;
	height:15px;
	text-indent:-15000px;
	outline: none;
	margin:0;
	margin-top: 6px;
	margin-bottom:6px;
	padding:0;
	border:0;
	vertical-align: top;
}

#cke_add_directory span.cke_dialog_ui_button{
	width:250px;
	float:left;
	cursor: pointer;
}

#cke_refresh{
	width:26px;
	height:25px;
	padding:0;
	border:0;
	margin:7px;
	cursor:pointer;
	display: block;
	text-indent: -15000px;
	float:left;
	background: url(refresh.png) 5px 5px no-repeat;
	outline: none;
}


#files_attach span.cke_dialog_ui_button, #files_attach_another span.cke_dialog_ui_button{
	width:110px;
	float:left;
	cursor: pointer;
}

#documents_ajax a.del{
	background: url(del_foto.png) 0 1px no-repeat;
	text-indent: -15000px;
	padding-top:1px;
	outline: none;
	height:16px;
}

#documents_ajax a.edit{
	padding-top:1px;
	background: url(edit.png) 0 3px no-repeat;
	text-indent: -15000px;
	outline: none;
	height:16px;
	cursor: pointer;
}

#documents_ajax .cke_desc{
	width:94px; 
	float:left;
	padding-top:3px;
	overflow:hidden;
	text-indent:3px;
}

#documents_ajax_tree a.cke_dir{
	background: url(directory.png) 0 3px no-repeat;
	padding-left:20px;
	cursor: pointer;
}


#documents_ajax .del, #documents_ajax .edit{
	width:16px;
	float:right;
	display:block;
	visibility:hidden;
}

#documents_ajax_tree a.select{
	background: url(open_directory.png) 1px 1px no-repeat;
}

#documents_ajax_tree span.cke_dir{
	text-indent: 3px;
	white-space:normal;
	overflow: hidden;
}

#documents_ajax_tree div{
	padding-left:10px;
}

#documents_ajax_tree div.content{
	padding-left:1px;
	min-height: 17px;
	padding-top:1px;
	padding-bottom:1px;
}

#documents_ajax_tree a span{
	padding:1px;
	cursor: pointer;
}

#documents_ajax_tree a.select .content{
	background:#f7e9b7;
	padding:0;
	border: 1px #f0d47c solid;
	cursor: pointer;
}

#documents_ajax_tree a.hasDir{
	background: url(open_dir.png) 0 0 no-repeat;
	cursor: pointer;
}
#documents_ajax_tree a.open{
	background: url(close_dir.png) 0 0 no-repeat;
}

#documents_ajax_tree a.select div.edit, #documents_ajax_tree a.select div.del,
#documents_ajax_tree a.mouse div.edit, #documents_ajax_tree a.mouse div.del{
	visibility:visible;
}

#documents_ajax_tree a div.edit, #documents_ajax_tree a div.del{
	text-indent:-15000px;
	height: 16px;
	visibility:hidden;
	width:13px;
	margin:0px;
}

 #documents_ajax_tree div.del{
	background: url(del_dir.png) 0 0px no-repeat;
	cursor: pointer;
}

#documents_ajax_tree div.edit{
	background: url(edit.png) 7px 3px no-repeat;
	cursor: pointer;
}

#documents_ajax_tree a.mouse .content{
	background:#e1e1e1;
	padding:0;
	border: 1px #cccccc solid;
	cursor: pointer;
}

#cke_load_panel{
	opacity:0.9;
	background:#fff;
}

#cke_load_panel #files_list input{
	width:100%;
	margin-bottom:10px;
}

#cke_load_panel #files_list #cke_send_file_submit, #cke_send_div_submit{
	width:180px;
	height:18px;
	text-align: center;
	border: 1px #56544f solid;
	border-style:outset;
	background: #ececec;
}

#cke_load_panel #files_list{
	list-style: none;
	overflow: auto;
}

#cke_load_panel #files_list li.file{
	display: block;
}

#cke_load_panel #files_list span.file-cancel{
	display: block;
}

#cke_load_panel #files_list span.file-error{
	display: block;
}
#cke_load_panel #files_list span.file-size{
	display: block;
}
#cke_load_panel #files_list span.file-title{
	display: block;
}

#cke_load_panel #files_list img{
	display: block;
}