    <h3>Lai pieslēgtos, ievadiet lietotāja vārdu un paroli</h3>
    <form method="post" id="auth-forma" action="admin.php">
<!--hidden-fields-->
        <div class="db_field">
			<div class="db_field_title">Lietotājvārds</div>
			<div class="db_field_value"><input class="text" type="text" name="user" value="" /></div>
		</div>
        <div class="db_field">
			<div class="db_field_title">Parole</div>
			<div class="db_field_value"><input class="password" type="password" name="pw" value="" /></div>
		</div>
        <div class="db_field">
			<div class="db_field_title">&nbsp;</div>
			<div class="db_field_value"><input class="submit" type="submit" name="submit" value="Pieslēgties" /></div>
		</div>
	</form>
