        <div class="cm-form">
            <form id="comment-form" method="post" action="cm-action">
            <div class="cm-data"><small>Lūdzu ņem vērā, ka komentēt iespējams tikai tad, ja Tava pārlūkprogramma pieņem sīkdatnes!</small></div>
            <div class="cm-field"><input class="input" type="text" name="cm-title" placeholder="Vārds…"></div>
            <div class="cm-field"><textarea name="cm-value"></textarea></div>
            <div class="cm-field hidden"><input class="input" type="text" name="cm-parbaude" placeholder="Šo lauku lūdzu atstāt neaizpildītu…"></div>
            <div class="cm-field"><input class="btn" type="submit" value="Pievienot komentāru"></div>
            </form>
        </div>
